<div id='elem_item_<%= item_index %>' onmouseover='SCMS.highlightRow(this);'  class='admin_form' onmouseout='SCMS.lowlightRow(this);' style='padding:5px;'>
<span id='item_tools_<%= item_index %>' style='display:inline;'>
<a href='javascript:void(0);' onmousedown='PriceListEditor.closeOptions(<%= item_index %>);' class='handle' id='handle_<%= item_index %>' style='cursor:move;'><%= "Drag".t %></a> |
<a href='javascript:void(0);' onclick='PriceListEditor.toggleOptions(<%= item_index %>);'><%= "Options".t %></a> |
<a href='javascript:void(0);' onclick='PriceListEditor.deleteItem(<%= item_index %>,"<%= item.id %>");'><%= "Del".t %></a>
 </span>
 &nbsp;&nbsp; <span id='item_name_<%= item_index %>'><%= h item.name %></span>
 <div id='options_<%= item_index %>' style='<%= "display:none;" unless (@new_item || ! item.valid?) %> border:1px solid #000000; padding:10px; margin-top:5px;' >

  <table>
  <% cms_subfields_for "section[items][#{item_index}]", item do |f| -%>
    <input class="sortable_item" type='hidden' name='section[items][<%= item_index %>][position]' value='<%= item_index + 1 %>' />
    <%= f.hidden_field :id if item.id %>
    <%= f.text_field :name, :onchange => "PriceListEditor.updateName(#{item_index},this.value);", :onkeyup => "PriceListEditor.updateName(#{item_index},this.value);" %>
    <%= f.text_field :price %>
    <%= f.text_area :description, :rows => 4 %>
    <%= f.text_area :extra_prices_list, :rows => 2, :label => 'Additional Prices', :description => '<price>::<name>, one per a line' %>
    <%= f.filemanager_image :image_1_id %>
    <%= f.filemanager_image :image_2_id %>
    <%= f.filemanager_image :image_3_id %>
    <%= f.text_area :extra_description, :rows => 2 %>
    <%= f.text_field :item_type, :description => 'used in feature to change display options' %>
  <% end -%>
  </table>

 </div>
</div>

<% if @new_item -%>
<script>$j('#item_name').attr('value', '');</script>
<% end -%>
